.footer-container {
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: #ff807cf9;
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
  padding: 7px 0;
}

.footer-link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  color: #fff;
  transition: all 0.3s ease;
}

.footer-link-wrapper:hover {
  color: #000;
}
